<head>
  <title>
    <%= title %>
  </title>
  <meta property="og:title" content="<%= title %>" />
  <meta property="og:description" content="<%= title %>, <%= list.length %> movies" />
  <meta property="og:url" content="https://mp4.okdevtv.com/<%= uri %>" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="<%= locale %>" />
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <link rel='stylesheet' href='/css/style.css' />
  <script src="/js/index.js"></script>
  <script src="/js/modal.js"></script>
  <script src="https://js.sentry-cdn.com/<%= process.env.YOUTUBE_SENTRY %>.min.js" crossorigin="anonymous"></script>
</head>

<div id="mp4Modal" class="modal">
  <div class="modal-content">
    <span id="closeModal" class="close">&times;</span>
    <button id="clipboardBtn" class="clipboard-icon">📋</button>
    <p id="modalSummary"></p>
    <p id="modalContent">Loading text ...</p>
  </div>
</div>
