<!DOCTYPE html>
<html lang="ko">

<%- include('header.ejs') %>

<body>
  <section id="title">
    <h1 class="title">
      <a href="javascript:window.scrollTo(0,0)">
        <img src="https://okdevtv.com/images/logo.webp" alt="okdevtv" class="okdevtv-logo" />
        odevtube: <%= title %>
      </a>
    </h1>
    <div class="github">
      <a href="https://github.com/kenu/odevtube" target="_blank">
        <img src="/images/github-mark.svg" class="github-logo" alt="fork in github"></a>
    </div>
  </section>
  <nav class="main-nav">
    <aside class="login" aria-label="login">
      <% if (!user) { %>
      <a href="/login" alt="login">login</a>
      <% } else { %>
      <%= user.username %>
      <a href="/profile" alt="profile">profile</a>
      <a href="/logout" alt="logout">logout</a>
      <a href="/admin" alt="admin">admin</a>
      <% } %>
    </aside>
    <aside aria-label="menu">
      | <a href="/kpop" alt="kpop">kpop</a>
      | <a href="/food" alt="food">food</a>
      | <a href="/" alt="korean">ko</a>
      | <a href="/en" alt="english">en</a>
    </aside>
</nav>

  <%- include('search.ejs') %>
  <% if (uri === 'kpop' ) { %>
  <section style="background-color: #FABE98; margin-bottom: 2.2rem; padding: 0.45rem;">
    ➡️ <a href="https://www.youtube.com/playlist?list=PLQu3_HfiL3GQnaFfT7CAfrWMyhoWL7khJ" title="2022 교차편집 모음 (2022 Stage mix playlist)" style="padding-left: 1rem;">2022 교차편집 모음 (2022 Stage mix playlist)</a>
  </section>
  <% } %>

  <ul id="list">
    <% list.forEach(video => { %>
    <%- include('video.ejs', { video }) %>
    <% }) %>
  </ul>
  <hr />
  <hr />
  <div class="pagination">
    <% if (currentPage > 1) { %>
    <a href="?page=1<%= searchKeyword ? '&search=' + encodeURIComponent(searchKeyword) : '' %>">First</a>
    <a href="?page=<%= currentPage - 1 %><%= searchKeyword ? '&search=' + encodeURIComponent(searchKeyword) : '' %>">Previous</a>
    <% } %>

    <% for(let i = Math.max(1, currentPage - 2); i <= Math.min(totalPages, currentPage + 2); i++) { %>
    <% if (i === currentPage) { %>
    <span class="current"><%= i %></span>
    <% } else { %>
    <a href="?page=<%= i %><%= searchKeyword ? '&search=' + encodeURIComponent(searchKeyword) : '' %>"><%= i %></a>
    <% } %>
    <% } %>

    <% if (currentPage < totalPages) { %>
    <a href="?page=<%= currentPage + 1 %><%= searchKeyword ? '&search=' + encodeURIComponent(searchKeyword) : '' %>">Next</a>
    <a href="?page=<%= totalPages %><%= searchKeyword ? '&search=' + encodeURIComponent(searchKeyword) : '' %>">Last</a>
    <% } %>
  </div>
  <%- include('aside.ejs') %>
  <hr />
  <hr />
  <hr />
  <hr />
</body>
<%- include('footer.ejs') %>
<script src="https://js.sentry-cdn.com/<%= process.env.YOUTUBE_SENTRY %>.min.js" crossorigin="anonymous"></script>

</html>
