<!DOCTYPE html>
<html>

<% include ./header.ejs %>

<body>
  <h1>
    <a href="https://okdevtv.com/" alt="okdevtv">
      <img src="https://okdevtv.com/images/logo.webp" title="okdevtv" loading="lazy" class="okdevtv-logo"/>
    </a>
    <a href="javascript:window.scrollTo(0,0)"><%= title %></a>
  </h1>
  <p>Welcome to <%= title %>
  </p>
  <input type="text" id="keyword" placeholder="search keyword" autocomplete="off">
  <span id="count">0</span>
  <ul id="list">
    <% list.forEach(video=> { %>
    <li>
      <div class="channel">
        <a href="https://www.youtube.com/<%= video.customUrl %>/videos" alt="<%= video.channame %>">
          <img src="<%= video.profile %>" title="<%= video.channame %>" loading="lazy" class="profile"/>
          <span style="font-size: 0.9em; font-weight: 800;">
            <%= video.channame %>
          </span>
        </a>
      </div>
      <img src="<%= video.thumbnail %>" title="<%= video.title %>" loading="lazy" />
      <div style="margin: 3px 0">
        <%= video.pubdate %>
      </div>
      <a href="https://youtu.be/<%= video.videoId %>" alt="<%= video.title %>">
        <%= video.title %>
      </a>
    </li>
    <% }) %>
  </ul>
  <hr />
  <% include ./aside.ejs %>
  <hr />
  <hr />
  <hr />
  <hr />
</body>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y6RK1WT4L9"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'G-Y6RK1WT4L9');
</script>
<script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
<script type="text/javascript">
  if (!wcs_add) var wcs_add = {};
  wcs_add["wa"] = "7d6e896ff89240";
  if (window.wcs) {
    wcs_do();
  }
</script>

</html>
