<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <link rel='stylesheet' href='/css/style.css' />
  <script src="/js/index.js"></script>
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>
  <input type="text" id="keyword" placeholder="search keyword" autocomplete="off">
  <ul id="list">
    <% list.forEach(video=> { %>
    <li><img src="<%= video.thumbnail %>" title="<%= video.title %>" />
      <div style="margin: 3px 0"><%= video.pubdate %></div>
      <a href="https://youtu.be/<%= video.videoId %>" alt="<%= video.title %>">
        <%= video.title %>
      </a>
    </li>
    <% }) %>
  </ul>
  <hr />
  <div style="background-color: #FCEBEB; padding: 20px 10px;">
    * VS Code에서 쉽게 사용하는 Git: <a href="https://inf.run/LPpDg" target="_blank" alt="VS Code에서 쉽게 사용하는 Git">https://inf.run/LPpDg</a>
    <br />
    * OKdevTV: <a href="https://www.youtube.com/@KenuHeo" target="_blank" alt="OKdevTV">https://www.youtube.com/@KenuHeo</a>
  </div>
  <hr />
  <hr />
  <hr />
</body>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y6RK1WT4L9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Y6RK1WT4L9');
</script>
<script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
<script type="text/javascript">
if(!wcs_add) var wcs_add = {};
wcs_add["wa"] = "7d6e896ff89240";
if(window.wcs) {
  wcs_do();
}
</script>
</html>
