<li data-v="<%= video.videoId %>">
  <div class="channel">
    <a href="javascript:showChannel('<%= video.channame %>', '<%= video.customUrl %>')" alt="<%= video.channame %>">
      <img src="<%= video.profile %>" alt="<%= video.channame %>" class="profile" />
      <span class="channame">
        <%= video.channame %>
      </span>
    </a>
  </div>
  <img src="<%= video.thumbnail %>" alt="<%= video.title %>" loading="lazy" />
  <a href="https://youtu.be/<%= video.videoId %>" alt="<%= video.title %>" target="_blank">
    <div>
      <%= video.pubdate %>
    </div>
    <%= video.title %>
  </a>
  <button class="transcript" onclick="openTranscript('<%= video.videoId %>')">transcript</button>
  <button class="share-twitter" onclick="shareTwitter('<%= video.title %>', '<%= video.videoId %>')"
    title="Share on Twitter">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M18.901 1.153h3.68l-8.04 9.19L24 22.846h-7.406l-5.8-7.584-6.638 7.584H.474l8.6-9.83L0 1.154h7.594l5.243 6.932ZM17.61 20.644h2.039L6.486 3.24H4.298Z" />
    </svg>
  </button>
</li>
