<li>
  <div class="channel">
    <a href="javascript:showChannel('<%= video.channame %>', '<%= video.customUrl %>')" alt="<%= video.channame %>">
      <img src="<%= video.profile %>" title="<%= video.channame %>" class="profile" />
      <span class="channame">
        <%= video.channame %>
      </span>
    </a>
  </div>
  <img src="<%= video.thumbnail %>" title="<%= video.title %>" loading="lazy" />
  <a href="https://youtu.be/<%= video.videoId %>" alt="<%= video.title %>">
    <div>
      <%= video.pubdate %>
    </div>
    <%= video.title %>
  </a>
  <button class="transcript" onclick="openTranscript('<%= video.videoId %>')">transcript</button>
</li>
