<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Channel</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/admin.css">
</head>

<body>
  <% include('nav.ejs') %>
  <h1>Admin Channel</h1>
  <section>
    <% if (!user) { %>
    <p>Welcome! Please <a href="/login">log in</a>.</p>
    <% } else { %>
    <p>Hello, <%= user.username %>. <a href="/logout" alt="logout">logout</a>. <a href="/profile">profile</a>.</p>
    <% } %>
  </section>
  <aside class="github">
    <span class="k"> | <a href="/admin?c=kpop" alt="kpop">kpop</a>
      | <a href="/admin?c=food" alt="food">food</a> |</span>
    <a href="/admin" alt="korean">ko</a> |
    <a href="/admin?c=dev&l=en" alt="english">en</a>
    <a href="https://github.com/kenu/odevtube" target="_blank">
      <img src="/images/github-mark.svg" class="github-logo" alt="fork in github"></a>
  </aside>

  <nav>
    <a href="/admin">비디오</a>
  </nav>
  <section>
    <input type="text" id="channelId" name="channelId" placeholder="channel id or @handle" value="">
    <select id="lang" name="lang" value="ko">
      <option value="ko">ko</option>
      <option value="en">en</option>
    </select>
    <select id="category" name="category" value="dev">
      <option value="dev">dev</option>
      <option value="food">food</option>
      <option value="kpop">kpop</option>
    </select>
    <button onclick="createChannel()">create</button>
  </section>
  <section>
    <h3>Latest channels</h3>
    <table id="channelTable" class="channels">
      <thead>
        <th class="channel" onClick="sortTable(0)" onKeyDown="sortTable(0)">channel</th>
        <th class="id" onClick="sortTable(1)" onKeyDown="sortTable(1)">channel id</th>
        <th class="customurl" onClick="sortTable(2)" onKeyDown="sortTable(2)">custom url</th>
        <th class="count" onClick="sortTable(3)" onKeyDown="sortTable(3)">count</th>
        <th class="category" onClick="sortTable(4)" onKeyDown="sortTable(4)">category</th>
        <th class="lang" onClick="sortTable(5)" onKeyDown="sortTable(5)">lang</th>
        <th class="date" onClick="sortTable(6)" onKeyDown="sortTable(6)">last@</th>
        <th class="date" onClick="sortTable(7)" onKeyDown="sortTable(7)">cre@</th>
      </thead>
      <tbody>
        <% channels.forEach(function(channel) { %>
        <tr>
          <td><a href="<%= channel.uri %>#<%= channel.title %>" title="<%= channel.title %>" target="_blank">
              <img src="<%= channel.thumbnail %>" alt="<%= channel.title %>" class="thumbnail">
              <%= channel.title %>
              <img src="/images/outlink.webp" alt="" class="outlink">
            </a></td>
          <td><a href="<%= channel.uri %>#<%= channel.title %>" title="<%= channel.title %>" target="_blank" class="channel-id">
              <%= channel.channelId %>
            </a>
          </td>
          <td>
            <a href="https://youtube.com/<%= channel.customUrl %>" title="<%= channel.title %>" target="_blank">
              <%= channel.customUrl %>
            </a>
          </td>
          <td class="count">
            <%= channel.cnt %>
          </td>
          <td class="category">
            <%= channel.category %>
          </td>
          <td class="lang">
            <%= channel.lang %>
          </td>
          <td class="datecell">
            <%= channel.pubdate %>
          </td>
          <td class="datecell">
            <%= channel.credate %>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    </div>
    <div class="pagination-wrapper">
      <div class="pagination">
      </div>
    </div>
  </section>
</body>
<script src="/js/admin.js"></script>

</html>
