<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Video</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/admin.css">
</head>

<body>
  <% include ./nav %>
  <h1>Admin Video</h1>
  <section>
    <% if (!user) { %>
    <p>Welcome! Please <a href="/login">log in</a>.</p>
    <% } else { %>
    <p>Hello, <%= user.username %>. <a href="/logout" title="">logout</a>. <a href="/profile">profile</a>.</p>
    <% } %>
  </section>
  <aside class="github">
    <span class="k"> | <a href="/admin?c=kpop" title="">kpop</a>
      | <a href="/admin?c=food" title="">food</a> |</span>
    <a href="/admin" title="korean">dev ko</a> |
    <a href="/admin?c=dev&l=en" title="english">dev en</a>
    <a href="https://github.com/kenu/odevtube" target="_blank">
      <img src="/images/github-mark.svg" class="github-logo" alt="fork in github"></a>
  </aside>

  <nav>
    <a href="/admin/channel">채널</a>
  </nav>
  <section>
    <h3>Latest videos</h3>
    <table class="videos">
      <thead>
        <th class="channel">channel</th>
        <th class="title">title</th>
        <th class="date">pub@</th>
        <th class="date">cre@</th>
        <th class="del">del</th>
      </thead>
      <tbody>
        <% videos.forEach(function(video) { %>
        <tr>
          <td><a href="/admin?channel=<%= video.Channel.id %>&<%= area %>" title="<%= video.Channel.title %>">
              <img src="<%= video.Channel.thumbnail %>" alt="" class="thumbnail">
              <%= video.Channel.title %>
            </a></td>
          <td><a href="<%= video.uri %>#<%= video.title %>" title="" target="_blank">
              <img src="<%= video.thumbnail %>" alt="" class="thumbnail">
              <%= video.title %>
            </a>
          </td>
          <td class="datecell">
            <%= video.pubdate %>
          </td>
          <td class="datecell">
            <%= video.credate %>
          </td>
          <td class="datecell">
            <a href="javascript:remove('<%= video.videoId %>')">x</a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    </div>
    <div class="pagination-wrapper">
      <div class="pagination">
        <% if (currentPage> 1) { %>
        <a href="/admin?<%= channel + area %>p=1" class="latest">Latest</a>
        <a href="/admin?<%= channel + area %>p=<%= currentPage - 1 %>" class="prev">Prev</a>
        <% } %>
        <% for (let i=startPage; i <=endPage; i++) { %>
        <a href="/admin?<%= channel + area %>p=<%= i %>" class="<%= currentPage === i ? 'active' : '' %>">
          <%= i %>
        </a>
        <% } %>
        <% if (currentPage < totalPages) { %>
        <a href="/admin?<%= channel + area %>p=<%= currentPage + 1 %>" class="next">Next</a>
        <a href="/admin?<%= channel + area %>p=<%= totalPages %>" class="end">
          <%= totalPages %>
        </a>
        <% } %>
        <% if (channel) { %> |
        <a href="/admin?<%= area %>" class="latest">Clear</a>
        <% } %>
      </div>
    </div>
  </section>
  <script src="/js/admin.js"></script>
</body>

</html>
